<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script>-->
    <!--$.ajaxSetup({-->
    <!--data: {csrfmiddlewaretoken: '{{ xsrf_form_html() }}'},-->
    <!--});-->
    <!--</script>-->
</head>
<body>
<form>
    {% raw xsrf_form_html() %}
    <input type="text" id="newpass" placeholder="新密码">

    <input type="button" id="but">
</form>
</body>
<script>
    $(function () {
        $("#but").click(function () {
            $.ajax({
                url: "",
                type: "PUT",
                data: {newpass: $("#newpass").val(), _xsrf: $("input[name='_xsrf']").val()},
                dataType: "json",
                success: function (result) {
                    alert('密码修改成功')
                    window.location.href = result.retMes;
                }

            })
        });

    });


</script>
</html>